.start__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
  
}

.start__girliee {
    width: 60%;
    aspect-ratio: 1/1; 
    border-radius: 3rem;  
      background:
        var(--color-bg-variant) ;
        border: 1px solid transparent;
        transform: rotate(-10deg);
    transition: var(--transition);
    display: grid;
    place-items: center;
    
    
}
/* .start__girliee{ */
    /* width: 60%; */
    /* aspect-ratio: 1/1;  */
    /* background: var(--color-bg-variant); */
    /* padding: 1.3rem; */
    /* background-repeat: 2rem; */
    /* border: 1px solid transparent; */
    /* transition: var(--transition); */
    /* transform: rotate(-10deg); */
/* } */

.start__girliee-image {
    background: linear-gradient
    var(--color-primary)
    transparent
;
    border-radius: 2rem; 
    transform: rotate(23deg);
    transition: var(--transition);
     
}

.start__girliee-image:hover {
    transform: rotate(0);
}


.start__icon{
    color: #fff;
}
.get{
    color: #fff;
}
.start__cards{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 1.5rem
    ;
}
.start__card{
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.start__card:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}
.start__icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.start__card h5 {
    font-size: 0.95rem;
    color:#fff;
}
small{
    font-size: 0.7rem;
    color: var(--color-light);
}
p{
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}
#cont{
    display: flex;
    justify-content: center;
}

/* ********MEDIA QUERIES(MEDIUM DEVICES)********** */
@media screen and (max-width:1024px) {
    .start__container {
        grid-template-columns: 1fr;
        gap: 0;
    } 
    .start__girliee{
        width: 50%;
        margin: 2rem auto 4rem;
    }
    p{
        margin: 1rem 0 1.5rem;
    }

}

/* ********MEDIA QUERIES(SMALL DEVICES)********** */
@media screen and (max-width: 600px) {
   .start__girliee {
    width: 65%;
    margin: 0 auto 3rem;
   }

   .start__cards{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
   }
   .start__content {
    text-align: center;
   }
   p{
    margin: 1.5rem 0;
   }
    }