header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container {
    text-align: center;
    height: 100%;
    position: relative;
    
}
h1,h4, h5{
    font-weight: 600;
    color: #f7f2f2;
}
span{
    color: rgb(148, 201, 214);
}

.text-light{
    font-weight: 500;
    color: #f7f2f2;
}

/* ********  CATA  *********** */
.cata{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* **** Header Socials****** */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

/* ******* GIRLIE M ********** */
.girlie {
    /* background: linear-gradient( var(--color-primary), transparent);  */
    width: 11rem;
    height: 30rem;
    position: absolute;
    /* left: calc(50% - 11rem);  */
    left: 50%;  
    transform: translateX(-50%);  
    margin-top: 2rem;
   /* border-radius: 12px 12px 0 0;   */
  overflow: hidden;
 /*   padding: 1rem;  */

}

img{
    display: flex;
    border-radius: 12rem 12rem 0 0; 
}

/* ******** SCROLL DOWN*********** */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* ********MEDIA QUERIES(MEDIUM DEVICES)********** */
@media screen and (max-width:1024px) {
    header {
height: 68vh;
    }

}

/* ********MEDIA QUERIES(SMALL DEVICES)********** */
@media screen and (max-width:600px) {
    header{
        height: 100vh;
    }
    .header__socials, .scroll__down {
        display: none;

    }
    .girlie{
        width:30%;
     /*    margin: 2rem auto 4rem; */
    }
}
